<form class="pure-form pure-form-stacked" action="/categories/new" method="post">
    <fieldset>
        <legend>Create a New Category</legend>
        <label for="category">Enter the name for your new category:</label>
        <input type="text" name="category" placeholder="New Category Name" value="" />
        <span class="pure-form-message">This is a required field.</span>
        <br>

        <button type="submit" class="pure-button pure-button-primary">Submit</button>
        <a class="pure-button" href="/categories">Cancel</a>
    </fieldset>
</form>

